/* #vid_url{
    background: url(http://img.youtube.com/vi/DNL-SZMV-EU/0.jpg) no-repeat scroll 1px 1px;
    background-image: url("paper.gif");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    background-origin: content-box;
} */

table {
    width: 100%;
}

.button-row button, .button-row a {
    margin-right: 8px;
}